.popup__container_status {
    display: flex;
    flex-direction: column;
    padding: 60px 36px;
    box-sizing: border-box;
    height: 330px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}