.element__remove {
  background-image: url(../../../images/remove.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  z-index: 5;
  position: absolute;
  top: 20px;
  border: 0;
  cursor: pointer;
  right: 20px;
  width: 18px;
  height: 19px;
  transition: .6s;
}

.element__remove:hover {
  transition: .6s;
  opacity: 0.4;
  /* cursor: pointer; */
}
